
body {
  background-color: #324087;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter-active {
  opacity: 0.01;
}

.fade-enter-active {
opacity: 0.01;
transition: opacity 1000ms ease-in;
}

.fade-exit {
opacity: 1;
}

.fade-exit-active {
opacity: 0.01;
transition: opacity 1000ms ease-in;
}

.wantButton {
  width: 7vw;
}

.favButton {
width: 8vw;
}

.readButton {
width: 6vw;

}

.list-group{
  margin:0;
}

.container-fluid {
  display:flex;
  margin:0 auto;
}

/* code block */
