
body {
  background-color: #5c8cb4;
  /* background-image: url('https://i.pinimg.com/originals/a9/01/da/a901da6bcd9a062d87d3431956f99439.png'); */
  background-size: cover;
}


#nav {
  opacity: .75;
  background-color:black;
}
.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter-active {
  opacity: 0.01;
}

.fade-enter-active {
opacity: 0.01;
transition: opacity 1000ms ease-in;
}

.fade-exit {
opacity: 1;
}

.fade-exit-active {
opacity: 0.01;
transition: opacity 1000ms ease-in;
}

.wantButton {
  width: 8vw;
}

.favButton {
  width: 8vw;
}

.readButton {
  width: 8vw;

}

li {
  list-style: none;
}
