
body {
  background-color: #324087;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter-active {
  opacity: 0.01;
}

.fade-enter-active {
opacity: 0.01;
transition: opacity 1000ms ease-in;
}

.fade-exit {
opacity: 1;
}

.fade-exit-active {
opacity: 0.01;
transition: opacity 1000ms ease-in;
}

.wantButton {
  display:inline-block;
  float:right;
  margin-right: 11vw;
}

.favButton {
  display:inline-block;
  float:right;
  margin-right: 11.5vw;
}

.readButton {
  display:inline-block;
  float:right;
  margin-right: 3.5vw;
}

.list-group{
  margin:0;
}
